{% extends "base.html" %}

{% block content %}
  {% for name in data %}
  <div class="row">
    <div class="col-md-12" align="center">
      <h1>{{name.name}}</h1>
      <div class="routes">
        {% for direction in name.N %}
        Northbound
        {{direction.route}}
        {{direction.time | timeago}}
        <br>
        {% endfor %}
        ---
        <br>
        {% for direction in name.S %}
        Southbound
        {{direction.route}}
        {{direction.time | timeago}}
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
