{% extends "base.html" %}

{% block content %}
  {% for name in data %}
  <div class="row">
    <div class="col-md-12" align="center">
      <h1>{{name.name}}</h1>
      <div class="routes">
        <h3>Northbound</h3>
        {% for direction in name.N %}
          {{direction.route}}
          {{direction.time | timeago}}
        <br>
        {% endfor %}
        <br>
        <h2>Southbound</h2>
        {% for direction in name.S %}
          {{direction.route}}
          {{direction.time | timeago}}
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  <br>
{% endblock %}
